.vote-bar-container {
  height: 50px;
<<<<<<< HEAD
  width: 230px;
  box-sizing: border-box;
  padding: 10px 0;
}

.vote-bar-outside {
  background-color: #fff;
=======
  width: 250px;
  box-sizing: border-box;
  padding: 10px;
}

.vote-bar-outside {
  background-color: orange;
>>>>>>> 410ebd8 (big commit)
  height: 100%;
  width: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 4px;
}

.vote-bar-inside {
  background-image: linear-gradient(to right, #63050a, #9c0910);
  height: 80%;
  border-radius: 100px;

  padding: 0 4px;
  position: relative;
}

.vote-bar-handle {
  height: 80%;
  aspect-ratio: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 100px;
  margin-left: 100px;
  box-sizing: border-box;
}
