.Header-container {
  position: sticky;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-size: 110%;
  background-color: #1c1f25;
  width: 100%;
  height: 50px;
  top: 0;
  box-shadow: 0px 2px 0.5em rgba(0, 0, 0, 0.6);
}

.Link {
  color: white;
  padding-left: 15px;
  text-decoration: none;
  transition: color 0.1s linear;
}

.Link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.header-logo {
  height: 100%;
  width: auto;
}

.header-logo-container {
  height: 30px;
  padding-right: 20px;
}
