.Header-container {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  font-size: 1.2em;
  background-color: rgb(30, 30, 30);
  padding-bottom: 0.5em;
  width: 100%;
}

.Header-container > :not(:last-child) {
  margin-right: 10px;
}

.Link {
  font-weight: 600;
  color: white;
}
