.filterside-container {
  background-color: rgb(20, 78, 97);
  min-width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  padding: 5px 5px 5px 15px;
  box-sizing: border-box;
  max-height: calc(1.3em + 10px + 20px);
  overflow: hidden;
  position: relative;
}

.filterside-container.filterside-container-isopen {
  max-height: calc(100vh - 50px);
}

@media screen and (min-width: 800px) {
  .filterside-container {
    width: 200px;
    max-height: none;
  }
  .filterside-hamburger {
    display: none;
  }
}

.filterside-hamburger {
  position: absolute;
  top: calc(0.65em + 15px);
  right: 20px;
  transform: translateY(-50%);
}

.filterside-pages-container {
  padding-bottom: 20px;
  position: relative;
}

.filterside-pages-container::after {
  border: 1px white solid;
  width: 60%;
  height: 0;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}

.filterside-page-title {
  font-size: 120%;
  padding-top: 10px;
  cursor: pointer;
  user-select: none;
  transition: color 0.1s;
}

.filterside-page-title:hover {
  color: rgba(229, 9, 20, 0.8);
}

.filterside-active-display {
  color: rgba(229, 9, 20, 1);
}

.filterside-h1 {
  font-size: 130%;
  padding-top: 10px;
}

.filterside-h2 {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.filterside-genre-list-container {
  padding-left: 40px;
}
