.filterside-container {
  background-color: aqua;
  min-width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .filterside-container {
    width: 200px;
  }
}
